@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    color: rgb(23, 26, 219);
    font-size: 5rem;
}


h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h1,h2,h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin-inline: auto; 
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    border: none;
}

.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

.text_center {
    text-align: center;
}

.titulo_rojo {
    color: rgb(228, 34, 8);
}

.titulo_septiembre {
    color: rgb(0, 0, 0);
}
